body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.invoice-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.restaurant-name {
  margin: 0;
}

.address,
.contact {
  margin-bottom: 10px;
}

.invoice-number {
  margin-top: 30px;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.total-amount {
  margin-top: 20px;
  font-weight: bold;
}

.payment-method,
.thank-you {
  margin-top: 10px;
}

.cashier-name {
  border: none;
}

.additional-info {
  margin-top: 10px;
  font-style: italic;
}

[contenteditable] {
  border: 1px solid #ddd;
  padding: 5px;
  outline: none;
}

.button-container {
  position: fixed;
  top: 20px;
  right: 200px;
}

/* Update your CSS for the menu container and menu items */
.menu-container {
  width: 300px;
  margin-left: 50px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  float: left;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}

.menu-section-title {
  margin-left: 50px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
}

.menu-item {
  width: calc(50% - 5px); /* Two items in a row with a small gap */
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.menu-item img {
  width: 100px;
  height: 80px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.menu-item:hover img {
  transform: scale(1.05);
}

.menu-item-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
}

.menu-item:hover .menu-item-info {
  opacity: 1;
}

.menu-item-name {
  font-weight: bold;
  margin-bottom: 5px;
}

/* .menu-item-description {
  font-size: 14px;
} */

.menu-item-price {
  font-size: 16px;
}
